@using TestWeb.Models
@model LoginViewModel
@{
    ViewBag.ReturnUrl = "~/Home/";
    ViewBag.Title = "Iniciar sesión";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
</div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Use una cuenta local para iniciar sesión.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        La contraseña debe tener un mínimo 6 letras que incluyan mayúsculas, minúsculas, números y al menos un caracter especial (Ej: #).
                    </small>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="form-row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top"  title="Iniciar Sesión">
                                Iniciar Sesión
                            </button>
                        </div>
                        <div class="col-auto">
                            <a href="~/Account/ResetPassword" title="Resetear Contraseña" class="btn btn-success" data-toggle="tooltip" data-placement="top">
                                Resetear Contraseña
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
            </section>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
