@model TestWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formulario para cambiar la contraseña</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <small class="form-text text-muted">
                La contraseña debe tener un mínimo 6 letras que incluyan mayúsculas, minúsculas, números y al menos un caracter especial (Ej: #).
            </small>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <small class="form-text text-muted">
                La contraseña debe tener un mínimo 6 letras que incluyan mayúsculas, minúsculas, números y al menos un caracter especial (Ej: #).
            </small>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <small class="form-text text-muted">
                La contraseña debe tener un mínimo 6 letras que incluyan mayúsculas, minúsculas, números y al menos un caracter especial (Ej: #).
            </small>
        </div>
    </div>
    <div class="form-group">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-auto">
                    <button type="submit" title="Cambiar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
                <div class="col-auto">
                    <a href="~/Manage/" title="Volver" class="btn btn-secondary">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}